@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400&display=swap');

body{
    margin: 0;
}


header{
    border-bottom: 1px solid rgb(148, 148, 148);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: flex;
    font-size: 1.5rem;
    padding: .25rem 1rem;
    background-color: #ade8f4;
}

a{
    color: inherit;
    text-decoration: none;
}

header a{
    width: 2rem;
    margin-inline: .25rem;
}

header a img{
    max-width: 1.5rem;
}

header a.logo{
    margin-right: auto;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

.card{
    width: 15rem;
    margin: 1rem .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    height: 21rem;
    border-radius: .5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.card h3{
    font-weight: 200;
    font-size: 1rem;
    text-align: right;
}

.card *{
    margin: 0;
    padding: 0;
}

.card h2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card img{
    width: calc(100% - 1rem);
    aspect-ratio: 1;
    object-fit: cover;
}

.card button{
    width: calc(100%);
    padding: .5rem;
    background-color: #343434;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    border-radius: .5rem;
    cursor: pointer;
}

.cart-container{
    display: grid;
    place-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    height: 90vh;
}